* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#content-box {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  background: rgb(255, 152, 212);
}
body {
  width: 100vw;
  height: 100vh;
}
.HELP {
  border-radius: 50%;
  height: 7vmax;
  width: 7vmax;
  color: white;
  background: orangered;
  text-align: center;
  line-height: 7vmax;
  font-size: 4vmax;
  border: 2px solid whitesmoke;
  position: relative;
  left: 24vw;
  bottom: 18vh;
}
.HELP:focus {
  background: orange;
  outline: none;
}
#you {
  background: rgb(18, 223, 255);
}

#alisha {
  background: rgb(251, 255, 36);
}
#alisha,
#you {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

#circleA,
#circleU {
  border-radius: 50%;
  width: 15vmax;
  display: inline-block;
  height: 15vmax;
  background: rgb(18, 223, 255) url(IMAGES/new.png);
  background-position: 0.1vmax 0.1vmax;
  background-size: cover;
  position: relative;
  top: 20%;
}
#circleU {
  background: rgb(251, 255, 36) url(IMAGES/you.png);
  background-position: -0.2vmax -0.1vmax;
  background-size: cover;
}
#textU {
  width: 50vw;
  height: 30vh;
  background: rgb(251, 255, 36);
  position: relative;
  bottom: 60vh;
  left: 0vw;
  box-sizing: border-box;
  border-radius: 5%;
}
#textA {
  background: rgb(18, 223, 255);
  width: 50vw;
  height: 30vh;
  position: relative;
  bottom: 30vh;
  left: 50vw;
  box-sizing: border-box;
  border-radius: 5%;
  overflow-x: hidden;
}
#ha,
#hu {
  font-size: 17px;
  padding: 7px;
}
#btn {
  position: absolute;
  width: 20vw;
  height: 20vw;
  top: -20vw;
  left: 41vw;
  border-radius: 50%;
  background: orangered;
  color: whitesmoke;
  border: 2px solid white;
  font-size: 3vmax;
}

#btn:focus {
  background: orange;
  outline: none;
}
#help_content {
  height: 90vh;
  width: 90vw;
  background-color: #ccc;
  z-index: 20;
  position: absolute;
  top: 5vh;
  left: 5vw;
  padding: 10px;
  border-radius: 15px;
  overflow-x: hidden;
  font-size: large;
  user-select: none;
  display: none;
}
#help_content.active {
  height: 90vh;
  width: 90vw;
  background-color: #ccc;
  z-index: 20;
  position: absolute;
  top: 5vh;
  left: 5vw;
  padding: 10px;
  border-radius: 15px;
  overflow-x: hidden;
  font-size: large;
  user-select: none;
  display: inline-block;
}

#help_btn {
  width: 80px;
  height: 50px;
  background: orangered;
  color: whitesmoke;
  border: 2px solid white;
  font-size: 1rem;
  display: inline-block;
  position: fixed;
  bottom: 7vh;
  right: 7vw;
}
#help_btn:focus {
  background: orange;
  outline: none;
}
#help_btn:focus .help_content {
  display: inline-block;
}
#alisha.blur,
#you.blur,
#hu.blur,
#ha.blur {
  filter: blur(50px);
}
@media screen and (min-width: 1000px) {
  #btn {
    width: 12vw;
    height: 12vw;
    top: -12vw;
    left: 44vw;
    font-size: 2vw;
  }
}
@media screen and (max-width: 700px) {
  #btn {
    font-size: 2.7vw;
  }
}
